extends layout

block content
  #intro.col-12
    nav
      ul
        li 
          a(href="/experience") Experience
        li 
          a(href="/play") Play
        li 
          a(href="https://www.dropbox.com/s/1r9eoksyl2detiv/Resume.pdf", target="_") Resume
    img.face(src='../images/headshot.png')
    .title
      h1 Hi, I'm Shaan
  #blocks
    .col-12.home-body
      p I spend my time in Chicago as a full-time Software Engineer and part-time rock climber. 
      p After my morning coffee, I'm driven to challenge myself to discover new things.
      p I'm a fan of all things science, math, gaming, and superheroes.
      p 
        | You can also find me at 
        a.link(href="https://github.com/ssapra" target="_") github.com/ssapra 
        | or 
        a.link(href="https://linkedin.com/in/shaansapra" target="_") linkedin.com/in/shaansapra.
