extends layout

block content
  #intro.col-12
    nav
      ul
        li 
          a(href="/") Home
        li 
          a(href="/") Experience
        li 
          a(href="/") Projects
        li 
          a(href="https://www.dropbox.com/s/1r9eoksyl2detiv/Resume.pdf", target="_") Resume
    .title
      h1 Hi, I'm Shaan Sapra
  #blocks
    .left.col-6
      img(src='../images/headshot.png')
      p Full-time Software Engineer and Part-time climber
      p On a journey of constant learning and discovery 
      p All things geek and nerd  
      p github.com/ssapra 
    .right.col-6
