extends layout

block content
	input.filter(type="text", placeholder="Search ...")
	.items-container
		h2 Sept 2017
		ul.items
			li
				p 
					span Unicorn vs. Puma vs. Passenger: which app server is right for you?
					a(target="_", href="http://blog.scoutapp.com/articles/2017/02/10/which-ruby-app-server-is-right-for-you") blog.scoutapp.com
			li
				p 
					span Three Paths in the Tech Industry: Founder, Executive, or Employee
					a(target="_", href="https://blog.ycombinator.com/three-paths-in-the-tech-industry-founder-executive-or-employee/") blog.ycombinator.com

		h2 August 2017
		ul.items
			li
				p 
					span Learn the technology skills you need to make apps, do well in college, and get internships
					a(target="_", href="https://www.codenow.org/") codenow.org
			li
				p
					span Understanding ruby load, require, gems, bundler and rails autoloading from the bottom up
					a(target="_", href="https://medium.com/@connorstack/understanding-ruby-load-require-gems-bundler-and-rails-autoloading-from-the-bottom-up-3b422902ca0") medium.com
			li
				p
					span Learn how to write a hash table in C
					a(target="_", href="https://github.com/jamesroutley/write-a-hash-table") github.com
			li
				p
					span 2D game development library for Ruby and C++
					a(target="_", href="https://github.com/gosu/gosu") github.com

			li
				p
					span Free game assets
					a(target="_", href="https://opengameart.org/") opengameart.org

			li
				p
					span Master programming
					a(target="_", href="https://www.facebook.com/notes/kent-beck/mastering-programming/1184427814923414") facebook.com

			li
				p
					span Supercharge Vim with Fzf and Ripgrep
					a(target="_", href="https://medium.com/@crashybang/supercharge-vim-with-fzf-and-ripgrep-d4661fc853d2") medium.com

			li
				p
					span Don’t Be a Git—Use Tig!
					a(target="_", href="https://tech.jellyvision.com/2014/05/dont-be-a-git-use-tig/") tech.jellyvision.com

			li
				p
					span Ways to load code
					a(target="_", href="https://practicingruby.com/articles/ways-to-load-code") practicingruby.com

			li
				p
					span The designer's guide to image compression
					a(target="_", href="http://www.creativebloq.com/design/designers-guide-image-compression-10121068") creativebloq.com

			li
				p
					span Why You Should Be Excited About Garbage Collection in Ruby 2.0
					a(target="_", href="http://patshaughnessy.net/2012/3/23/why-you-should-be-excited-about-garbage-collection-in-ruby-2-0") patshaughnessy.net