doctype
html
  head
    title= title
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="description", content=description)

    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/font.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/javascripts/index.js')
    link(rel='shortcut icon', href='../images/favicon.ico', type='image/x-icon') 

  body
    section#wrapper
      div.container
        block content
