extends layout

block content
    .col-12
        nav
            ul
                li 
                    a(href="/") Home
                li 
                    a(href="/Experience") Experience
                li 
                    a(href="https://www.dropbox.com/s/1r9eoksyl2detiv/Resume.pdf", target="_") Resume
    h1.experience-title Play
    .col-12.content-body
        .year
            p 2017
            .games-4
                .game
                    img(src='../images/zelda.jpg')
                .game
                    img(src='../images/zelda.jpg')
                .game
                    img(src='../images/zelda.jpg')
                .game
                    img(src='../images/zelda.jpg')
        .year
            p 2016
            .games-5
                .game
                    img(src='../images/zelda.jpg')
                .game
                    img(src='../images/zelda.jpg')
                .game
                    img(src='../images/zelda.jpg')
                .game
                    img(src='../images/zelda.jpg')
                .game
                    img(src='../images/zelda.jpg')

