nav ul {
  padding: 1em 0 1em 1.5em;
  margin: 0 auto;
}
nav ul li {
  display: inline;
  list-style-type: none;
  padding-right: 1.5em;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}
