nav
    ul
        padding 1em 0 1em 1.5em
        margin 0 auto
        li
            display inline
            list-style-type none
            padding-right 1.5em
            a
                text-decoration none
                color white
                font-size 1em
