.filter
	font-weight 700
	font-size 40px
	border none
	border-bottom 1px solid grey
	margin 0 auto
	width 500px
	margin-left 35%

.items-container
	width 1400px
	margin 0 auto
	margin-left 5em

.items
	list-style-type none
	span
		margin-right 1em