form 
	width 1200px
	margin 0 auto
	margin-top 100px
	label 
		padding-right 10px
	input
		border none
		border-bottom 1px solid grey
	input:focus
		outline none 
	.field
		margin-bottom 5%
		margin-left 10%
		width 5em
		input
			margin-top 3%
			width 60em
